CPTTAutoService/Web References/UploadDataService/uploaddataservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="UploadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetQueueCount">
        <s:complexType />
      </s:element>
      <s:element name="GetQueueCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQueueCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestBatchUpload">
        <s:complexType />
      </s:element>
      <s:element name="TestBatchUploadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadData" />
  </wsdl:message>
  <wsdl:message name="UploadDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetQueueCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueueCount" />
  </wsdl:message>
  <wsdl:message name="GetQueueCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueueCountResponse" />
  </wsdl:message>
  <wsdl:message name="TestBatchUploadSoapIn">
    <wsdl:part name="parameters" element="tns:TestBatchUpload" />
  </wsdl:message>
  <wsdl:message name="TestBatchUploadSoapOut">
    <wsdl:part name="parameters" element="tns:TestBatchUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadDataServiceSoap">
    <wsdl:operation name="UploadData">
      <wsdl:input message="tns:UploadDataSoapIn" />
      <wsdl:output message="tns:UploadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQueueCount">
      <wsdl:input message="tns:GetQueueCountSoapIn" />
      <wsdl:output message="tns:GetQueueCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestBatchUpload">
      <wsdl:input message="tns:TestBatchUploadSoapIn" />
      <wsdl:output message="tns:TestBatchUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadDataServiceSoap" type="tns:UploadDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="UploadData">
      <soap:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueCount">
      <soap:operation soapAction="http://tempuri.org/GetQueueCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestBatchUpload">
      <soap:operation soapAction="http://tempuri.org/TestBatchUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadDataService">
    <wsdl:port name="UploadDataServiceSoap" binding="tns:UploadDataServiceSoap">
      <soap:address location="http://219.235.110.4/datacenterwebservice/uploaddataservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>